* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container-fullwidth {
    background-color: #0d325a;
}

/* INIZIO HEADER */

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.logo {
    height: 70px;
    width: 350px;
    background-color: #0d325a;
}

.logo nav {
    font-size: 60px;
}


.logo nav a {
    text-decoration: none;
    color: white;
}

header {
    height: 70px;
}

/* INIZIO BANNER */

.banner {
    height: 500px;
    position: relative;
    background-color: #0d325a;
}

.banner img {
    height: 450px;
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 10%;
}

.menu {
    height: 70px;
    width: 560px;
    padding-top: 30px;
    padding-left: 90px;
    float: right;
    position: relative;
    bottom: 100%;
    background-color: #0d325a;
}

.menu button {
    padding: 6px;
    border-radius: 10%;
    background-color: #7bbc00;
    color: white;
}

.menu a {
    text-decoration: none;
    color: #849ab1;
}

.section {
    display: block;
    height: 500px;
    width: 424.5px;
    background-color: #0d325a;
    position: relative;
}


h1 {
    color: white;
    font-size: 40px;
}

.text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text button {
    margin-top: 50px;
    color: white;
    background-color: #7bbc00;
    padding: 6px;
}



/* FINE HEADER */

/* Inizio main */

/* Inizio primo testo */


.mid{
    background-color: white;
    margin-top: 20px;
}

.riga-grigia {
    height: 100px;
    background-color: white;
    position: relative;
}

.testo {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo h3 {
    color: #4a4a4a;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

.testo p {
    color: #849ab1;
    font-size: 15px;
}
/*  Fine primo testo */

/* riga immagini */
.bot {
    margin-top: 50px;
    background-color: white;
}

.riga-bianca {
    height: 100px;
    background-color: white;
    width: 100%;
}



.cards {
    width: 33.33%;
    float: left;
    height: 200px;
    background-color: white;
    position: relative;
}
/* IMMAGINI */
.img-1 img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.img-2 img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.img-3 img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
/* FINE IMMAGINI */
/* Inizio testi */

.cards h4 {
    color: #7bbc00;
    font-size: 20px;
    text-align: center;
}

.cards hr {
    width: 30px;
    margin: 10px;
    /* da spostare al centro ???? */
}

.cards p {
    color: #849ab1;
    text-align: center;
}

.pos {
    width: 99%;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* FINE TESTI */
