* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container-fullwidth {
    background-color: #0d325a;
}

/* INIZIO HEADER */

.logo {
    height: 70px;
    width: 350px;
    background-color: #0d325a;
}

.logo nav {
    font-size: 60px;
}

.menu button {
    padding: 6px;
    border-radius: 10%;
    background-color: #7bbc00;
    color: white;
}

.logo nav a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: red;
}

header {
    height: 70px;
    background-color: orange;
}

.menu {
    height: 70px;
    width: 560px;
    padding-top: 30px;
    padding-left: 90px;
    float: right;
    position: relative;
    bottom: 100%;
    background-color: #0d325a;
}

.menu a {
    text-decoration: none;
    color: #849ab1;
}



/* FINE HEADER */

.grigio {
    background-color: grey;
}

.bianco {
    background-color: white;
}

.riga-grigia {
    height: 100px;
    background-color: lightgrey;
}

.riga-bianca {
    height: 100px;
    background-color: white;
    width: 100%;
}

.banner {
    height: 500px;
    position: relative;
    background-color: #0d325a;
}

.banner img {
    height: 450px;
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 10%;
}

.section {
    display: block;
    height: 500px;
    width: 424.5px;
    background-color: #0d325a;
    position: relative;
}

h1 {
    color: white;
    font-size: 35px;
}

.text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text button {
    margin-top: 50px;
    color: white;
    background-color: #7bbc00;
    padding: 6px;
}

.cards {
    width: 33.33%;
    float: left;
    /* da cancellare */
    height: 200px;
    background-color: purple;
    border: 1px solid black;
}
